/* Custom styles go here. */
html {
  background-color: whitesmoke;
}
.page-header {
  padding-left: 20px;
}
.navbar-brand {
  margin-left: 0px;
}
.navbar-header {
  background: black;
  transition-property: background;
  transition-duration: 1s;
}
.navbar-header:hover {
  background: forestgreen;
}
.img-portfolio:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}
p::first-line {
  font-size: 135%;
}
